<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GadgetTech - The best place to buy your gadgets </title>
    <link rel="icon" href="/assets/images/icons/logo-gadget.png" type="image/x-icon">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="GadgetTech">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/skins/skin-demo-2.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-2.css">

</head>

<body>
    <header class="header header-2 header-intro-clearance " style="background-color:#121518 ;">


        <div class="header-middle">
            <div class="container-fluid px-5">
                <div class="header-left">
                    <a href="/" class="logo mr-4">
                        <img src="/assets/images/demos/demo-2/logo.png" alt="Gadget Tech Logo" width="155" height="75">
                    </a>
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars text-light"></i>
                    </button>
                </div><!-- End .header-left -->

                <div class="header-center">
                    <div
                        class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search "></i></a>
                        <form id="searchForm" action="/search" >
                            <div class="header-search-wrapper autocomplete search-wrapper-wide ">

                                <label for="q" class="sr-only">Search</label>
                                <input type="search" onkeyup="searchData(this)" class="form-control" name="q"
                                    id="myInput" placeholder="Search product ..." required autocomplete="off">
                                    
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>

                            </div><!-- End .header-search-wrapper -->
                        </form>

                    </div><!-- End .header-search -->

                </div>

                <div class="header-right">
                    <div class="wishlist">
                        <a href="/wishlist" title="Wishlist">
                            <div class="icon">
                                <i class="icon-heart-o "></i>
                                
                            </div>
                            <p>Wishlist</p>
                        </a>
                    </div><!-- End .compare-dropdown -->

                    <div class="dropdown cart-dropdown">
                        <a href="/cart" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false"
                            data-display="static">
                            <div class="icon">
                                <i class="icon-shopping-cart"></i>
                                {{#if user.cartCount}}
                                <span id="cartCountHeader" class="cart-count">{{user.cartCount}}</span>
                                {{/if}}
                            </div>
                            <p>Cart</p>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-cart-products">


                            </div><!-- End .cart-product -->

                            {{!-- <div class="dropdown-cart-total">
                                <span>Total</span>

                                <span class="cart-total-price">$160.00</span>
                            </div><!-- End .dropdown-cart-total --> --}}

                            <div class="dropdown-cart-action">
                                <a href="/cart" class="btn btn-primary">View Cart</a>
                                <a href="/checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .dropdown-cart-total -->
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .cart-dropdown -->


                    {{#if user}}
                    <div class="account dropdown cart-dropdown">
                        <a href="#" title="My account" class="dropdown-toggle" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" data-display="static">
                            <div class="icon">
                                <i class="icon-user "></i>
                            </div>
                            <p>Account</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right " style="width = 150rem">
                            <a class="dropdown-item" style="font-size: 1.5rem !important;" href="/dashboard/account">My Account</a>
                            <a class="dropdown-item" style="font-size: 1.5rem !important;" href="/dashboard/orders">My Orders</a>
                            <a class="dropdown-item" style="font-size: 1.5rem !important;" href="/dashboard/wallet">My wallet</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" style="font-size: 1.5rem !important;" href="/logout">Logout</a>
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .compare-dropdown -->
                    {{else}}
                    <div class="account dropdown cart-dropdown ">
                        <a href="#" title="My account" class="dropdown-toggle" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" data-display="static">
                            <div class="icon">
                                <i class="icon-user "></i>
                            </div>
                            <p>Guest</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right " style="width = 10rem">
                            <div>
                                <a class="dropdown-item" style="font-size: 1.5rem !important;" href="#">Account
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" style="font-size: 1.5rem !important;" href="/signin">Sign in /
                                    Sign up</a>
                            </div>
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .compare-dropdown -->
                    {{/if}}




                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->

        <div class="header-bottom sticky-header">
            <div class="container">
                <div class="header-left">
                    <div class="dropdown category-dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" data-display="static" title="Browse Categories">
                            Browse Categories
                        </a>

                        <div class="dropdown-menu">
                            <nav class="side-nav">
                                <ul class="menu-vertical sf-arrows">
                                    {{#each categories}}
                                    <li class="item-lead"><a href="/category/{{this._id}}">{{this.category}}</a></li>
                                    {{/each }}
                                    
                                </ul><!-- End .menu-vertical -->
                            </nav><!-- End .side-nav -->
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .category-dropdown -->
                </div><!-- End .header-left -->

                <div class="header-center">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="/" class="">Home</a>

                             
                            </li>

                            <li>
                                <a href="/products" class="">Product</a>

                                
                            </li>
                            <li>
                                <a href="#" class="sf-with-ul">Brands</a>

                                <ul>
                                    {{#each brands}}
                                    <li>
                                        <a href="/brand/{{this._id}}" class="sf-with-ul">{{this.brand}}</a>

                                    </li>
                                    {{/each}}                                     
                                </ul>
                            </li>
                      
                            <li>
                                <a href="/about" class="">About</a>
                            </li>
                            <li>
                                <a href="#" class="">Contact us</a>
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-center -->

                <div class="header-right">
                    <i class="la la-lightbulb-o"></i>
                    <p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
                </div>
            </div><!-- End .container -->
        </div><!-- End .header-bottom -->
    </header><!-- End .header -->

    <script defer>

        function autocomplete(inp, arr) {
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                    for (i = 0; i < arr.length; i++) 
                    {

                        b = document.createElement("DIV");
                        b.innerHTML = "<p> <strong >" + arr[i] + "</strong> </p>";
                        b.innerHTML += arr[i].substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {

                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

    </script>