<div class="page-wrapper">


    <main class="main">
        <div class="intro-slider-container">
            <div class="owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl"
                data-owl-options='{"nav": false}'>

                {{#each banners.main}}
                <div class="intro-slide" style="background-image: url(/images/banner/{{this.img.[0]}});">


                    <div class="container intro-content ">
                        <h3 class="intro-subtitle">{{this.subTitle}}</h3><!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title">{{this.title1}} <br>{{this.title2}}<br>
                            <span class="text-primary">
                                <sup class="text-white font-weight-light">from</sup><br><sup
                                    class="ml-5 ">₹</sup>{{this.price}}
                            </span>
                        </h1><!-- End .intro-title -->

                        <a href="category.html" class="btn btn-primary ml-5">
                            <span>Shop Now</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div><!-- End .container intro-content -->
                </div><!-- End .intro-slide -->
                {{/each}}

            </div><!-- End .owl-carousel owl-simple -->

            <span class="slider-loader text-white"></span><!-- End .slider-loader -->
        </div><!-- End .intro-slider-container -->



        <div class="row d-flex justify-content-center ">
            <div class="container-fluid mt-5 ">
                <h2 class="title text-center mb-5 ">Explore Popular Categories</h2><!-- End .title -->


                <div class="cat-blocks-container ">
                    <div class="row d-flex justify-content-center">


                        {{#each categories}}
                        <div class="col-6 col-sm-4 col-lg-2 ">
                            <a href="/category/{{this._id}}" class="cat-block">
                                <figure>
                                    <span>
                                        <img src="/images/category/{{this.img.[0]}}"
                                            style="height: 150px; border-radius: 1rem;" alt="Category image">
                                    </span>
                                </figure>

                                <h3 class="cat-block-title">{{this.category}}</h3><!-- End .cat-block-title -->
                            </a>
                        </div><!-- End .col-sm-4 col-lg-2 -->
                        {{/each}}



                    </div><!-- End .row -->
                </div><!-- End .cat-blocks-container -->
            </div><!-- End .container -->
        </div>

        <div class="mb-2 mb-lg-4"></div><!-- End .mb-3 mb-lg-5 -->

        <div class="icon-boxes-container" style="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-rocket"></i>
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title text-white">Free Shipping</h3><!-- End .icon-box-title -->
                                <p>orders $50 or more</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon ">
                                <i class="icon-rotate-left"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title text-white">Free Returns</h3><!-- End .icon-box-title -->
                                <p>within 30 days</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon ">
                                <i class="icon-info-circle"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title text-white">Get 20% Off 1 Item</h3>
                                <!-- End .icon-box-title -->
                                <p>When you sign up</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon ">
                                <i class="icon-life-ring"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title text-white">We Support</h3><!-- End .icon-box-title -->
                                <p>24/7 amazing services</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .icon-boxes-container -->




        <div class="container-fluid mt-4">
            <h2 class="title text-center mb-5 ">Premium Products</h2><!-- End .title -->
            <div class="row">
                {{#each banners.midLarge}}
                <div class="col-lg-6">
                    <div class="banner banner-big banner-overlay">
                        <a href="#">
                            <img src="/images/banner/{{this.img.[0]}}" style="height: 42rem ;" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-center">
                            <h3 class="banner-subtitle text-white"><a href="#">{{this.subTitle}}</a></h3>
                            <!-- End .banner-subtitle -->
                            <h2 class="banner-title text-white"><a href="#">{{this.title1}}</a></h2>
                            <!-- End .banner-title -->
                            <a href="#" class="btn underline"><span>{{this.title2}}</span></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-6 -->
                {{/each}}

                {{!-- <div class="col-lg-6">
                    <div class="banner banner-big banner-overlay">
                        <a href="#">
                            <img src="assets/images/demos/demo-7/banners/banner-2.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-center">
                            <h3 class="banner-subtitle text-white"><a href="#">New Collection</a></h3>
                            <!-- End .banner-subtitle -->
                            <h2 class="banner-title text-white"><a href="#">Shop Men's</a></h2>
                            <!-- End .banner-title -->
                            <a href="#" class="btn underline"><span>Discover Now</span></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-6 --> --}}
            </div><!-- End .row -->

            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="banner banner-overlay text-white">
                        <a href="#">
                            <img src="assets/images/demos/demo-7/banners/banner-3.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-right">
                            <h4 class="banner-subtitle"><a href="#">Flip Flop</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title"><a href="#">Summer<br>sale -70% off</a></h3>
                            <!-- End .banner-title -->
                            <a href="#" class="btn underline btn-outline-white-3 banner-link">Shop Now</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-4 -->

                <div class="col-md-6 col-lg-4">
                    <div class="banner banner-overlay color-grey">
                        <a href="#">
                            <img src="assets/images/demos/demo-7/banners/banner-4.jpg" alt="Banner">
                        </a>

                        <div class="banner-content">
                            <h4 class="banner-subtitle"><a href="#">Accessories</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title"><a href="#">2019 Winter<br>up to 50% off</a></h3>
                            <!-- End .banner-title -->
                            <a href="#" class="btn underline banner-link">Shop Now</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-4 -->

                <div class="col-md-6 col-lg-4">
                    <div class="banner banner-overlay text-white">
                        <a href="#">
                            <img src="assets/images/demos/demo-7/banners/banner-5.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-right mr">
                            <h4 class="banner-subtitle"><a href="#">New in</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title"><a href="#">Women’s<br>sportswear</a></h3>
                            <!-- End .banner-title -->
                            <a href="#" class="btn underline btn-outline-white-3 banner-link">Shop Now</a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-4 -->
            </div><!-- End .row -->
        </div><!-- End .container-fluid -->

        <div class="mb-3"></div><!-- End .mb-6 -->

        <h2 class="title text-center mb-5 mt-5 pt-3">Exclusive Laptop Category</h2><!-- End .title -->


        <div class="container-fluid">
            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1280": {
                                            "items":6,
                                            "nav": true
                                        }
                                    }
                                }'>
                {{#each products}}
                {{#if (categoryPremium this.Category)}}
                <div class="product ">
                    <figure class="product-media ">
                        <span class="product-label label-sale">Sale</span>
                        <a href="/product/{{this._id}}">
                            <img src="/images/product/{{this.img.[0]}}" style="height: 20rem" alt="Product image"
                                class="product-image  ">
                        </a>

                        <div class="product-action-vertical">
                            <a onclick="addtoWishlist('{{this._id}}','{{this.Name}}')"
                                class="btn-product-icon btn-wishlist btn-expandable text-success"><span>add to
                                    wishlist</span></a>
                        </div><!-- End .product-action-vertical -->

                        <div class="product-action">
                            <a onclick=" call('{{this._id}}','{{this.Name}}')" class="btn-product btn-cart  "
                                title="Add to cart"><span style="color:#a6c76c ;">Add to cart</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">{{this.Brand.brand}}</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="/product/{{this._id}}">{{this.Name}}</a></h3>
                        <!-- End .product-title -->
                        <div class="product-price">
                            <span class="new-price">₹{{this.Price}}</span>
                            <span class="old-price">Was ₹{{this.PriceOg}}</span>
                        </div><!-- End .product-price -->
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 2 Reviews )</span>
                        </div><!-- End .rating-container -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
                {{/if}}
                {{/each }}

            </div><!-- End .owl-carousel -->
        </div>



        <div class="container">
            <ul class="nav nav-pills nav-border-anim nav-big justify-content-center mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="products-sale-link" data-toggle="tab" href="#products-sale-tab"
                        role="tab" aria-controls="products-sale-tab" aria-selected="false">On Sale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="products-featured-link" data-toggle="tab" href="#products-featured-tab"
                        role="tab" aria-controls="products-featured-tab" aria-selected="true">Featured</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="products-top-link" data-toggle="tab" href="#products-top-tab" role="tab"
                        aria-controls="products-top-tab" aria-selected="false">Top Rated</a>
                </li>
            </ul>
        </div><!-- End .container -->

        <div class="container-fluid">
            <div class="tab-content tab-content-carousel">
                <div class="tab-pane p-0 fade " id="products-featured-tab" role="tabpanel"
                    aria-labelledby="products-featured-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    },
                                    "1600": {
                                        "items":6,
                                        "nav": true
                                    }
                                }
                            }'>

                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane p-0 fade show active" id="products-sale-tab" role="tabpanel"
                    aria-labelledby="products-sale-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    },
                                    "1600": {
                                        "items":6,
                                        "nav": true
                                    }
                                }
                            }'>

                        {{#each products}}
                        <div class="product product-11 text-center">
                            <figure class="product-media">
                                <a href="/product/{{this._id}}">
                                    <img src="/images/product/{{this.img.[0]}}" alt="Product image"
                                        class="product-image">
                                    <img src="/assets/images/demos/demo-2/products/product-5-2.jpg" alt="Product image"
                                        class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist"><span>add to
                                            wishlist</span></a>
                                </div><!-- End .product-action-vertical -->

                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title"><a href="product.html">{{this.Name}}</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    ₹ {{this.Price}}
                                </div><!-- End .product-price -->

                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #74543e;"><span class="sr-only">Color
                                            name</span></a>
                                    <a href="#" style="background: #e8e8e8;"><span class="sr-only">Color
                                            name</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </div><!-- End .product -->
                        {{/each}}


                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane p-0 fade" id="products-top-tab" role="tabpanel"
                    aria-labelledby="products-top-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    },
                                    "1600": {
                                        "items":6,
                                        "nav": true
                                    }
                                }
                            }'>
                        <div class="product product-11 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="/assets/images/demos/demo-2/products/product-2-1.jpg" alt="Product image"
                                        class="product-image">
                                    <img src="/assets/images/demos/demo-2/products/product-2-2.jpg" alt="Product image"
                                        class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist"><span>add to
                                            wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title"><a href="product.html">Octo 4240</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $746,00
                                </div><!-- End .product-price -->

                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #1f1e18;"><span class="sr-only">Color
                                            name</span></a>
                                    <a href="#" style="background: #e8e8e8;"><span class="sr-only">Color
                                            name</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </div><!-- End .product -->

                        <div class="product product-11 text-center">
                            <figure class="product-media">
                                <span class="product-label label-circle label-new">New</span>
                                <a href="product.html">
                                    <img src="/assets/images/demos/demo-2/products/product-3-1.jpg" alt="Product image"
                                        class="product-image">
                                    <img src="/assets/images/demos/demo-2/products/product-3-2.jpg" alt="Product image"
                                        class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist"><span>add to
                                            wishlist</span></a>
                                </div><!-- End .product-action-vertical -->

                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title"><a href="product.html">Flow Slim Armchair</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    $970,00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </div><!-- End .product -->

                        <div class="product product-11 text-center">
                            <figure class="product-media">
                                <span class="product-label label-circle label-sale">Sale</span>
                                <a href="product.html">
                                    <img src="/assets/images/demos/demo-2/products/product-4-1.jpg" alt="Product image"
                                        class="product-image">
                                    <img src="/assets/images/demos/demo-2/products/product-4-2.jpg" alt="Product image"
                                        class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist"><span>add to
                                            wishlist</span></a>
                                </div><!-- End .product-action-vertical -->

                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title"><a href="product.html">Roots Sofa Bed</a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">$337,00</span>
                                    <span class="old-price">Was $449,00</span>
                                </div><!-- End .product-price -->

                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #878883;"><span class="sr-only">Color
                                            name</span></a>
                                    <a href="#" style="background: #dfd5c2;"><span class="sr-only">Color
                                            name</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </div><!-- End .product -->
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->
        </div><!-- End .container-fluid -->


        <div class="row d-flex justify-content-center mt-5 pt-3" style="background-color: rgb(21, 21, 21);">
            <div>
            <h2 class="title text-center mb-2 ">Brands</h2><!-- End .title -->
<hr class="mt-1 ">
            </div>
            
            <div class="container-fluid mb-5">
                
                <div class="owl-carousel mt-3 mb-3 owl-simple" data-toggle="owl" data-owl-options='{
                            "nav": false, 
                            "dots": false,
                            "margin": 30,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "420": {
                                    "items":3
                                },
                                "600": {
                                    "items":4
                                },
                                "900": {
                                    "items":5
                                },
                                "1024": {
                                    "items":6
                                }
                            }
                        }'>
                    {{#each brands}}
                    <a href="#" class="brand">
                        <img src="/images/brand/{{this.img.[0]}}" style="" alt="Brand Name">
                    </a>
                    {{/each}}

                    
                </div><!-- End .owl-carousel -->

            </div>
        </div>

        <div class="mb-5"></div><!-- End .mb-5 -->

        {{!-- <div class=" deal-container pt-5 pb-3 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="deal">
                            <div class="deal-content">
                                <h4>Limited Quantities</h4>
                                <h2>Deal of the Day</h2>

                                <h3 class="product-title"><a href="product.html">POÄNG</a></h3>
                                <!-- End .product-title -->

                                <div class="product-price">
                                    <span class="new-price">$149.00</span>
                                    <span class="old-price">Was $240.00</span>
                                </div><!-- End .product-price -->

                                <div class="deal-countdown" data-until="+10h"></div><!-- End .deal-countdown -->

                                <a href="product.html" class="btn btn-primary">
                                    <span>Shop Now</span><i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .deal-content -->
                            <div class="deal-image">
                                <a href="product.html">
                                    <img src="/assets/images/demos/demo-2/deal/product-1.jpg" alt="image">
                                </a>
                            </div><!-- End .deal-image -->
                        </div><!-- End .deal -->
                    </div><!-- End .col-lg-9 -->

                    <div class="col-lg-3">
                        <div class="banner banner-overlay banner-overlay-light text-center d-none d-lg-block">
                            <a href="#">
                                <img src="/assets/images/demos/demo-2/banners/banner-5.jpg" alt="Banner">
                            </a>

                            <div class="banner-content banner-content-top banner-content-center">
                                <h4 class="banner-subtitle">The Best Choice</h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title">AGEN</h3><!-- End .banner-title -->
                                <div class="banner-text text-primary">$49.99</div><!-- End .banner-text -->
                                <a href="#" class="btn btn-outline-gray banner-link">Shop Now<i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .bg-light --> --}}

        <div class="mb-6"></div><!-- End .mb-6 -->

        <div class="container">
            <div class="heading heading-center mb-3">
                <h2 class="title">Top Selling Products</h2><!-- End .title -->

                <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="top-all-link" data-toggle="tab" href="#top-all-tab" role="tab"
                            aria-controls="top-all-tab" aria-selected="true">All</a>
                    </li>
                </ul>
            </div><!-- End .heading -->

            <div class="tab-content">
                <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel"
                    aria-labelledby="top-all-link">
                    <div class="products">
                        <div class="row justify-content-center">
                             {{#each topSellingProducts}}
                            <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                               
                                <div class="product product-11 text-center">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="/assets/images/demos/demo-2/products/product-7-1.jpg"
                                                alt="Product image" class="product-image">
                                            <img src="/assets/images/demos/demo-2/products/product-7-2.jpg"
                                                alt="Product image" class="product-image-hover">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist "><span>add to
                                                    wishlist</span></a>
                                        </div><!-- End .product-action-vertical -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Lighting</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Petite Table Lamp</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            $401,00
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </div><!-- End .product -->
                                
                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                            {{/each}}

                            
                        </div><!-- End .row -->
                    </div><!-- End .products -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->
        </div><!-- End .container -->

        <div class="container">
            <hr class="mt-1 mb-6">
        </div><!-- End .container -->


    </main><!-- End .main -->

    <footer class="footer footer-2">


        <div class="footer-newsletter bg-image" style="background-image: url(/assets/images/backgrounds/bg-2.jpg)">
            <div class="container">
                <div class="heading text-center">
                    <h3 class="title">Get The Latest Deals</h3><!-- End .title -->
                    <p class="title-desc">and receive <span>$20 coupon</span> for first shopping</p>
                    <!-- End .title-desc -->
                </div><!-- End .heading -->

                <div class="row">
                    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                        <form action="#">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Enter your Email Address"
                                    aria-label="Email Adress" aria-describedby="newsletter-btn" required>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"
                                        id="newsletter-btn"><span>Subscribe</span><i
                                            class="icon-long-arrow-right"></i></button>
                                </div><!-- .End .input-group-append -->
                            </div><!-- .End .input-group -->
                        </form>
                    </div><!-- End .col-sm-10 offset-sm-1 col-lg-6 offset-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-newsletter bg-image -->

    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->



<!-- Sign in / Register Modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>

                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
                                    aria-controls="signin" aria-selected="true">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                    aria-controls="register" aria-selected="false">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                aria-labelledby="signin-tab">
                                <form action="#" method="post">
                                    <div class="form-group">
                                        <label for="singin-email">Username or email address *</label>
                                        <input type="text" class="form-control" id="singin-email" name="singin-email"
                                            required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password">Password *</label>
                                        <input type="password" class="form-control" id="singin-password"
                                            name="singin-password" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>LOG IN</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="signin-remember">
                                            <label class="custom-control-label" for="signin-remember">Remember
                                                Me</label>
                                        </div><!-- End .custom-checkbox -->

                                        <a href="#" class="forgot-link">Forgot Your Password?</a>
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="register-email">Your email address *</label>
                                        <input type="email" class="form-control" id="register-email"
                                            name="register-email" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-password">Password *</label>
                                        <input type="password" class="form-control" id="register-password"
                                            name="register-password" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="register-policy"
                                                required>
                                            <label class="custom-control-label" for="register-policy">I agree to the <a
                                                    href="#">privacy policy</a> *</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login  btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->

{{!-- <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="row no-gutters bg-white newsletter-popup-content">
                <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                    <div class="banner-content text-center">
                        <img src="/assets/images/popup/newsletter/logo.png" class="logo" alt="logo" width="60"
                            height="15">
                        <h2 class="banner-title">get <span>25<light>%</light></span> off</h2>
                        <p>Subscribe to the Molla eCommerce newsletter to receive timely updates from your favorite
                            products.</p>
                        <form action="#">
                            <div class="input-group input-group-round">
                                <input type="email" class="form-control form-control-white"
                                    placeholder="Your Email Address" aria-label="Email Adress" required>
                                <div class="input-group-append">
                                    <button class="btn" type="submit"><span>go</span></button>
                                </div><!-- .End .input-group-append -->
                            </div><!-- .End .input-group -->
                        </form>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                            <label class="custom-control-label" for="register-policy-2">Do not show this popup
                                again</label>
                        </div><!-- End .custom-checkbox -->
                    </div>
                </div>
                <div class="col-xl-2-5col col-lg-5 ">
                    <img src="/assets/images/popup/newsletter/img-1.jpg" class="newsletter-img" alt="newsletter">
                </div>
            </div>
        </div>
    </div>
</div> --}}

<!-- Plugins JS File -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/superfish.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.plugin.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<!-- Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/demos/demo-2.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>