<div class="page-wrapper">

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">My Account<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Account</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="dashboard">
                <div class="container-fluid">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link " id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard"
                                        role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  active" id="tab-orders-link" data-toggle="tab"
                                        href="#tab-orders" role="tab" aria-controls="tab-orders"
                                        aria-selected="false">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-wallet"
                                        role="tab" aria-controls="tab-downloads" aria-selected="false">My Wallet</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                        role="tab" aria-controls="tab-address" aria-selected="false">Addresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                        role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Sign Out</a>
                                </li>
                            </ul>
                        </aside><!-- End .col-lg-3 -->

                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <div class="tab-pane fade " id="tab-dashboard" role="tabpanel"
                                    aria-labelledby="tab-dashboard-link">

                                    <div class="row justify-content-center">
                                        <div class="col-xl-10">

                                            <div class="card" style="border-radius: 1rem ; background-color: #393939">
                                                <div
                                                    class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                                                    <img src="/user-images/admin.png" style="width: 20rem ;"
                                                        alt="Profile" class="rounded-circle">
                                                    <h2 class="my-4 " style="color:white;">{{user.fname}} {{user.lname}}
                                                    </h2>

                                                    <div class="social-links my-2 ">
                                                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                                        <a href="#" class="instagram"><i
                                                                class="bi bi-instagram"></i></a>
                                                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col-10">
                                                        <h6 class="text-center" style="color: white; ">User details:</h6>
                                                        <hr>
                                                        </div>
                                                        
                                                    
                                                        <table style="width:100%  "
                                                            class="text-center">
                                                            <tr class="col">
                                                                <th>Name:</th>
                                                                <td>{{user.fname}} {{user.lname}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Phone:</th>
                                                                <td>{{user.phonenumber}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>E-mail :</th>
                                                                <td>{{user.email}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        {{#if user.about}}
                                                        <h5 class="form-text mt-3">About </h5>
                                                        <p>{{user.about}}</p>
                                                        {{/if}}

                                                        <h5 class="form-text mt-3">Referral Code </h5>

                                                        <center><input type="text" value={{user.refferal}} id="myInput"
                                                                disabled>
                                                            <button class="btn btn-outline-success"
                                                                onclick="myFunction()">Copy Referral Code</button>
                                                        </center>


                                                        <p class="text-white">Hello ,
                                                            <br>
                                                            From your account dashboard you can view your <a
                                                                href="#tab-orders"
                                                                class="tab-trigger-link link-underline">recent
                                                                orders</a>,
                                                            manage your <a href="#tab-address"
                                                                class="tab-trigger-link">shipping and billing
                                                                addresses</a>, and <a href="#tab-account"
                                                                class="tab-trigger-link">edit your
                                                                password and account details</a>.
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade show active" id="tab-orders" role="tabpanel"
                                    aria-labelledby="tab-orders-link">

                                    {{#each orders}}
                                    <div class="row mb-3">
                                        <div class="container ">
                                            <div class="col-12 ">
                                                <div class="card " style=" border-top:0rem;    border-bottom:0rem;">

                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item row d-flex align-items-center"
                                                            style="background-color: rgb(18, 18, 18);">
                                                            <div class="col-3 ">
                                                                <p style="color: #a6c76c;">Order Placed : <span
                                                                        style="color: #ffffff;">{{this.time}}
                                                                        {{this.date}}</span></p>
                                                                <p style="color: #a6c76c;">through {{this.payment}} :
                                                                    <span style="color: #ffffff;">₹
                                                                        {{this.total}}</span></p>
                                                            </div>
                                                            <div class="col-5 ">
                                                                <center>
                                                                    <p style="color: #a6c76c;">Shipped to :
                                                                        <br><span
                                                                            style="color: #ffffff">{{this.address.fname}}
                                                                            {{this.address.lname}}</span>
                                                                    </p>
                                                                </center>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <p class="mb-0" style="color: #a6c76c;">Order ID : <span
                                                                        style="color: #ffffff">{{this._id}}</span>
                                                                </p>
                                                                <p class="mb-0" style="color: #a6c76c;">Order status :
                                                                    <span
                                                                        style="color: #ffffff;">{{this.paymentStatus}}</span>
                                                                </p>
                                                            </div>
                                                        </li>
                                                        <li
                                                            class="list-group-item row d-flex align-items-cente pl-5 pt-3">

                                                            <div class="col-lg-3 col-5">
                                                                <h6 style="color: #a6c76c;">Address :</h6>
                                                                <p style="color: #1d1c1c;">Name : {{this.address.fname}}
                                                                    {{this.address.lname}}
                                                                    <br>
                                                                    {{this.address.address}} , {{this.address.city}} ,
                                                                    {{this.address.state}}
                                                                    <br>
                                                                    Pincode : {{this.address.pinCode}}
                                                                    <br>
                                                                    e-mail : {{this.address.mail}},
                                                                    <br> phone :+91 {{this.address.phone}}
                                                                </p>
                                                            </div>
                                                            <div class="col-lg-2 col-3 text-center ">
                                                                <h6 style="color: #a6c76c;">Payment Method</h6>
                                                                <p style="color: #1d1c1c;">{{this.payment}}</p>

                                                            </div>
                                                            <div class="col-lg-2 col-3 text-center ">
                                                                <h6 style="color: #a6c76c;">Total Purchase</h6>
                                                                <p style="color: #1d1c1c;">₹ {{this.orderTotal}}</p>


                                                            </div>

                                                            <div class="col-lg-4 col-12 text-center  ">
                                                                <h6 style="color: #a6c76c;" class="mb-3">Status </h6>
                                                                <h5 id="{{this._id}}" class="mb-2">{{this.status}}</h5>
                                                                {{#if (checkStatus this.status)}}
                                                                <button
                                                                    onclick="retryPayment('{{this._id}}','{{this.payment}}',{{this.total}})"
                                                                    class="btn btn-outline-dark">Retry Payment</button>
                                                                {{!-- {{else }}

                                                                <button onclick="cancelOrder('{{this._id}}')"
                                                                    class="btn btn-outline-dark"
                                                                    id="cancel{{this._id}}">
                                                                    Cancel</button> --}}
                                                         
                                                                {{/if}}

                                                            </div>

                                                        </li>

                                                        <li class="list-group-item row d-flex justify-content-center"
                                                            style="background-color: rgb(68, 68, 68);">
                                                            <center><button class="btn" style="color:#84a54c;"
                                                                    onclick="showProducts('{{this._id}}')">Click to show
                                                                    Products</button></center>
                                                            <div class="col-12" style="display: none;"
                                                                id="product{{this._id}}">
                                                                <table class="table table-cart table-mobile">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Product</th>
                                                                            <th>Price</th>
                                                                            <th>Quantity</th>
                                                                            <th>Status</th>
                                                                            <th class="text-center">Status</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>

                                                                        {{#each products}}
                                                                        <tr id="{{this.productId}}">

                                                                            <td class="product-col">
                                                                                <div class="product">
                                                                                    <figure class="product-media">
                                                                                        <a href="#">
                                                                                            <img src="/images/product/{{this.product.img.[0]}}"
                                                                                                alt="Product image">
                                                                                        </a>
                                                                                    </figure>

                                                                                    <h3 class="product-title">
                                                                                        <a
                                                                                            href="#">{{this.product.Name}}</a>
                                                                                    </h3><!-- End .product-title -->
                                                                                </div><!-- End .product -->
                                                                            </td>
                                                                            <td class="price-col">
                                                                                ₹ {{this.product.Price}}</td>

                                                                            <td class="price-col text-center">
                                                                                {{this.quantity}}
                                                                            </td>


                                                                          
                                                                            {{#if (checkStatus ../this.status) }}
                                                                              <td class="text-danger" >{{../this.status}}
                                                                            </td>
                                                                            <td>
                                                                                <button class="btn btn-outline-primary-2" disabled>Track
                                                                                        Order</button>
                                                                            </td>
                                                                            {{else}}
                                                                              <td class="text-white" id="">{{this.shippingStatus}}
                                                                            </td>
                                                                            <td><a
                                                                                    href="/orders/trackOrder/{{this.productId}}/{{../this._id}}"><button
                                                                                        class="btn btn-outline-primary-2 ">Track
                                                                                        Order</button></a>
                                                                            </td>
                                                                            {{/if}}
                                                                        </tr>
                                                                        {{/each}}

                                                                    </tbody>
                                                                </table><!-- End .table table-wishlist -->
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}


                                    <a href="/" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- .End .tab-pane -->


                                <div class="tab-pane fade" id="tab-wallet" role="tabpanel"
                                    aria-labelledby="tab-downloads-link">
                                    <h3 class="text-white text-center">My Wallet</h3>
                                    <div class="row justify-content-center mb-5">
                                        <div class="card col-md-9 col-11 mt-3 p-5 ps-3"
                                            style="background-color: rgb(96, 96, 96);border-radius: 1rem;">
                                            <h6 class="text-white">Wallet Balance : </h6>
                                            <hr style="height: 0.15rem;" class="bg-dark mt-0 border-3 ">
                                            <h2 class="text-success">₹ <span
                                                    style="color: #ffffff;">{{wallet.walletTotal}}</span>
                                            </h2>
                                            <p>If any product is cancelled , its refund will be reflected here.</p>
                                        </div>
                                        <div class="col-md-9 col-11 mt-3 ">
                                            <div class="row mb-0 align-items-center px-5  py-2 pt-1"
                                                style="background-color: rgb(0, 0, 0);border-radius: 1rem 2rem;cursor: pointer;"
                                                onclick="showTransaction()">
                                                <h6 class="text-white">Transcations</h6>
                                                <h5 class="ml-auto text-white"><span class="glyphicon"
                                                        style="">&#x2b;</span></h5>
                                            </div>
                                            <div class="row card mb-0 align-items-center px-5  py-2 pt-1"
                                                id="transactions"
                                                style="background-color: rgb(71, 71, 71);display: none; border-radius: 0.5rem;">

                                                <div class="col-12" id="product{{this._id}}">
                                                    <table class="table table-cart table-mobile">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Index</th>
                                                                <th scope="col">Transcation Id</th>
                                                                <th scope="col">Date</th>
                                                                <th scope="col">Type</th>
                                                                <th scope="col">Amount</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>

                                                            {{#each wallet.transaction}}
                                                            <tr >

                                                                <td class=" text-white">
                                                                    {{inc @index}}
                                                                </td>
                                                                <td class="text-white">{{this.transactionId}}</td>
                                                                <td class="text-white">
                                                                    {{this.date}}</td>
                                                                {{#if (checkDebit this.amount)}}
                                                                <td class="text-success ml-3">Credit
                                                                </td>
                                                                <td class="text-success" id="">₹ {{this.amount}}
                                                                </td>
                                                                {{else}}
                                                                <td class="text-danger ml-3 ">Debit
                                                                </td>
                                                                <td class="text-danger" id="">₹ {{this.amount}}
                                                                </td>
                                                                {{/if}}

                                                            </tr>
                                                            {{/each}}

                                                        </tbody>
                                                    </table><!-- End .table table-wishlist -->
                                                </div>



                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center">
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">Next</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>


                                        </div>

                                    </div>

                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                    aria-labelledby="tab-address-link">
                                    <h5 class="text-center" style="color:rgb(149, 147, 147) ;">Saved Addresses</h5>
                                    <p class="text-center">The following addresses will be used on the checkout page by
                                        default.</p>

                                    <div class="row">
                                        <div class="col-lg-12 mb-3 ">


                                            <div class="row d-flex justify-content-evenly">
                                                {{#each addresses}}
                                                <div class="col-4">
                                                    <div class="card card-dashboard "
                                                        style="width:auto  ;height: 37rem; border-radius: 1rem;background-color: #ffffff;">
                                                        <a class="remove-col ml-auto"><button class="btn-remove"
                                                                onclick="deleteAddress('{{this._id}}')"><i
                                                                    class="icon-close"></i></button></a>
                                                        <div class="card-body">

                                                            <h5 class="card-title mb-2" style="color: #84a54c">Address
                                                                {{inc
                                                                @index}}</h5>
                                                            <b>
                                                                <p style="color: #222222;">Name : {{this.fname}}
                                                                    {{this.lname}}
                                                                    <br>
                                                                    Company : {{this.company}},<br>
                                                                    {{this.address}} , {{this.city}} ,
                                                                    {{this.state}}
                                                                    <br>
                                                                    Pincode : {{this.pinCode}}
                                                                    <br>
                                                                    e-mail : {{this.mail}},
                                                                    <br> phone :+91 {{this.phone}} <br>
                                                                    <center><a href="#editAddress-modal"
                                                                            data-toggle="modal"
                                                                            onclick="showAddress('{{this._id}}')"
                                                                            style="font-size: 1.8rem;">Edit <i
                                                                                class="icon-edit"></i></a>
                                                                    </center>
                                                                </p>
                                                            </b>

                                                        </div>
                                                    </div>

                                                </div>
                                                {{/each}}
                                            </div>



                                        </div><!-- End .col-lg-6 -->



                                        <div class="col-lg-12">
                                            <center> <button class="btn btn-outline-primary-2 "
                                                    onclick="showAddressdiv()"><span>Add
                                                        New Address</span><i class="icon-long-arrow-down"></i>
                                                </button></center>

                                            <div class="container-fluid mb-5" id="addressDiv" style="display: none;">
                                                <form id="addAddress">

                                                    <h2 class="checkout-title">Add a new Billing Address</h2>
                                                    <!-- End .checkout-title -->

                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>First Name *</label>
                                                            <input type="text" class="form-control" name="fname"
                                                                required>
                                                        </div><!-- End .col-sm-6 -->

                                                        <div class="col-sm-6">
                                                            <label>Last Name *</label>
                                                            <input type="text" class="form-control" name="lname"
                                                                required>
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->

                                                    <label>Company Name (Optional)</label>
                                                    <input type="text" class="form-control" name="company">

                                                    <label>Country *</label>
                                                    <input type="text" class="form-control" name="country" required>

                                                    <label>Street address *</label>
                                                    <input type="text" class="form-control" name="address"
                                                        placeholder="House number and Street name" required>
                                                    <input type="text" class="form-control"
                                                        placeholder="Appartments, suite, unit etc ..." required>

                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>Town / City *</label>
                                                            <input type="text" class="form-control" name="city"
                                                                required>
                                                        </div><!-- End .col-sm-6 -->

                                                        <div class="col-sm-6">
                                                            <label>State / County *</label>
                                                            <input type="text" class="form-control" name="state"
                                                                required>
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->

                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>Postcode / ZIP *</label>
                                                            <input type="text" class="form-control" name="pinCode"
                                                                required>
                                                        </div><!-- End .col-sm-6 -->

                                                        <div class="col-sm-6">
                                                            <label>Phone *</label>
                                                            <input type="tel" class="form-control" name="phone"
                                                                required>
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->

                                                    <label>Email address *</label>
                                                    <input type="email" class="form-control" name="mail" required>

                                                    <center><button type="submit" class="btn btn-outline-primary-2 ">
                                                            <span class="">Add Address</span>
                                                        </button></center>

                                                </form>
                                            </div><!-- End .col-lg-9 -->



                                        </div><!-- End .col-lg-6 -->
                                    </div><!-- End .row -->
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade row d-flex justify-content-center" id="tab-account"
                                    role="tabpanel" aria-labelledby="tab-account-link">
                                    <div class="col-10">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                                    href="#nav-details" role="tab" aria-controls="nav-home"
                                                    aria-selected="true">Change Details</a>
                                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                                    href="#nav-password" role="tab" aria-controls="nav-password"
                                                    aria-selected="false">Change Password</a>

                                            </div>
                                        </nav>
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-details" role="tabpanel"
                                                aria-labelledby="nav-details-tab">

                                                <form id="accountDetails">
                                                    <div class="row mt-3">
                                                        <div class="col-sm-6">
                                                            <label>First Name *</label>
                                                            <input type="text" class="form-control" id="fnameShow"
                                                                name="fname" value="{{user.fname}}"
                                                                onchange="changeName()" required>
                                                        </div><!-- End .col-sm-6 -->

                                                        <div class="col-sm-6">
                                                            <label>Last Name *</label>
                                                            <input type="text" class="form-control" id="lnameShow"
                                                                name="lname" value="{{user.lname}}"
                                                                onchange="changeName()" required>
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->

                                                    <label>Display Name *</label>
                                                    <small class="form-text">This will be how your name will be
                                                        displayed in
                                                        the
                                                        account section and in reviews</small>
                                                    <input type="text" class="form-control" id="nameShow"
                                                        value="{{user.fname}} {{user.lname}}" disabled>



                                                    <div class="row mb-3">
                                                        <label for="inputPassword"
                                                            class="col-sm-7 col-form-label">Description</label>

                                                        <div class="col-sm-12">
                                                            <small class="form-text">Tell us something about yourself
                                                            </small>
                                                            <textarea class="form-control" name="about"
                                                                style="height: 120px">{{user.about}}</textarea>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col-sm-6">
                                                            <label>Contact details *</label>
                                                            <input type="inputnumber" class="form-control"
                                                                name="phonenumber" value="{{user.phonenumber}}"
                                                                disabled>
                                                        </div><!-- End .col-sm-6 -->
                                                    </div>


                                                    <button type="submit" class="btn btn-outline-primary-2">
                                                        <span>SAVE CHANGES</span>
                                                        <i class="icon-long-arrow-right"></i>
                                                    </button>
                                                </form>
                                            </div>



                                            <div class="tab-pane fade" id="nav-password" role="tabpanel"
                                                aria-labelledby="nav-password-tab">
                                                <h6 class="text-center">Change the Password</h6>
                                                <form id="changePassword">
                                                    <label>Email address *</label>
                                                    <input type="email" class="form-control" value="{{user.email}}"
                                                        disabled>

                                                    <label>Current password (leave blank to leave unchanged)</label>
                                                    <input type="password" name="oldPassword" class="form-control">

                                                    <label>New password (leave blank to leave unchanged)</label>
                                                    <input type="password" id="password-form" name="newPassword"
                                                        class="form-control">

                                                    <label>Confirm new password</label>
                                                    <input type="password" id="con-password-form"
                                                        class="form-control mb-3">
                                                    <p id="reg-error"></p>

                                                    <button type="submit" class="btn btn-outline-primary-2">
                                                        <span>SAVE CHANGES</span>
                                                        <i class="icon-long-arrow-right"></i>
                                                    </button>

                                                </form>
                                            </div>
                                        </div>

                                    </div>

                                </div><!-- .End .tab-pane -->
                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

   
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->



<div class="modal fade" id="editAddress-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>

                <div class="container-fluid mb-5">
                    <form id="editAddress">

                        <h2 class="checkout-title">Edit Billing Address</h2>
                        <!-- End .checkout-title -->

                        <div class="row">
                            <div class="col-sm-6">
                                <label>First Name *</label>
                                <input type="text" class="form-control" name="fname" id="addressfname" required>
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6">
                                <label>Last Name *</label>
                                <input type="text" class="form-control" name="lname" id="addresslname" required>
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->

                        <label>Company Name (Optional)</label>
                        <input type="text" class="form-control" id="addresscompany" name="company">

                        <label>Country *</label>
                        <input type="text" class="form-control" name="country" id="addresscountry" required>

                        <label>Street address *</label>
                        <input type="text" class="form-control" name="address" id="addressAddress"
                            placeholder="House number and Street name" required>
                        {{!-- <input type="text" class="form-control" placeholder="Appartments, suite, unit etc ..."
                            required> --}}

                        <div class="row">
                            <div class="col-sm-6">
                                <label>Town / City *</label>
                                <input type="text" class="form-control" name="city" id="addresscity" required>
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6">
                                <label>State / County *</label>
                                <input type="text" class="form-control" name="state" id="addressstate" required>
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <label>Postcode / ZIP *</label>
                                <input type="text" class="form-control" name="pinCode" id="addresspinCode" required>
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6">
                                <label>Phone *</label>
                                <input type="tel" class="form-control" name="phone" id="addressphone" required>
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->

                        <label>Email address *</label>
                        <input type="email" class="form-control" name="mail" id="addressmail" required>

                        <center><button type="submit" class="btn btn-outline-primary-2 ">
                                <span class="">Edit Address</span>
                            </button></center>

                    </form>
                </div><!-- End .col-lg-9 -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->





<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    function showProducts(orderId) {
        let status = document.getElementById('product' + orderId).style.display
        console.log(status)
        if (status == "none") {
            document.getElementById('product' + orderId).style.display = "block";
        } else {
            document.getElementById('product' + orderId).style.display = "none"
        }

    }

    function retryPayment(orderId, payment, total) {
        console.log(orderId);
        console.log(payment);
        console.log(total);

        $.ajax({
            url: '/retryPayment',
            data: { orderId, payment, total },
            method: 'post',
            success: (order) => {

                if (order.payment == 'razorPay') {
                    razorpayPayment(order.response);
                }
                else if (order.payment == 'payPal') {
                    location.href = order.response;
                }
            }
        })
    }

</script>

<script>
    $('#addAddress').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/addAddress',
            method: 'post',
            data: $("#addAddress").serialize(),
            success: (status) => {
                console.log(status)

                Swal.fire(
                    'Successful!',
                    'Your Address has been added Successfully!',
                    'success'
                )
                /*setTimeout(() => { window.location.reload() }, 1000)*/
                document.getElementById('addressDiv').style.display = "none";

            }
        })
    })


    function showAddressdiv() {
        let status = document.getElementById('addressDiv').style.display;
        console.log(status)
        if (status == 'none') {
            document.getElementById('addressDiv').style.display = "block";
        } else {
            document.getElementById('addressDiv').style.display = "none";
        }

    }

    function changeName() {
        console.log("called")
        let fname = document.getElementById('fnameShow').value;
        let lname = document.getElementById('lnameShow').value;
        let fullname = fname + " " + lname;
        console.log(fullname)
        document.getElementById('nameShow').value = fullname;
    }

</script>
{{!-- /* _____________________________________________Account _____________________________________________________*/
--}}
<script>

    $('#accountDetails').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/userDetails/edit',
            type: 'PUT',
            data: $("#accountDetails").serialize(),
            success: (status) => {
                console.log(status)

                Swal.fire(
                    'Successful!',
                    'Your User details has been Successfully changed!',
                    'success'
                )

            }
        })
    })


    $('#changePassword').submit((e) => {
        e.preventDefault();
        var pass = document.getElementById("password-form").value;
        var conPass = document.getElementById("con-password-form").value;
        if (pass == conPass) {
            console.log("called")
            $.ajax({
                url: '/changePassword',
                type: 'PATCH',
                data: $("#changePassword").serialize(),
                success: (response) => {
                    console.log(response)

                    if (response.status) {
                        Swal.fire({
                            icon: 'success',
                            title: 'New password Created',
                            text: ' Your password has been changed. Please Wait !!',
                        })


                    }
                    else {

                        document.getElementById("reg-error").innerHTML = response.message;
                        status = response.message;

                    }
                }
            })

        }
        else {
            document.getElementById("reg-error").innerHTML = "* Password & Confirm Password are not the same"
            console.log("The Password Doesnt Match");

        }

    })
</script>

<script>
    function showTransaction() {
        let status = document.getElementById('transactions').style.display
        console.log(status)
        if (status == 'none') {
            document.getElementById('transactions').style.display = 'block'
        }
        else {
            document.getElementById('transactions').style.display = 'none'
        }
    }

    function myFunction() {

        var copyText = document.getElementById("myInput");
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
        Swal.fire({
            icon: 'success',
            title: 'Copied to Clipboard',
        })

    }
</script>