<style>
    .title {
        color: #a6c76c;
        font-weight: 600;
        margin-bottom: 2vh;
        padding: 0 8%;
        font-size: initial;
    }

    #details {
        font-weight: 400;
    }

    .info {
        padding: 1.5% 8%;
    }

    .info .col-5 {
        padding: 0;
    }

    #heading {
        color: rgb(141, 141, 141);
        line-height: 6vh;
    }

    .pricing {
        background-color: #ddd3;
        padding: 1.8vh 7%;
        font-weight: 400;
        line-height: 2.5;
        margin: 0 7%;
    }

    .pricing .col-3 {
        padding: 0;
    }

    .total {

        color: #a6c76c;
        font-weight: bold;
    }

    .total .col-3 {
        padding: 0;
    }

    .footer {
        padding: 0 8%;
        font-size: x-small;
        color: black;
    }

    .footer img {
        height: 5vh;
        opacity: 0.2;
    }

    .footer a {
        color: #a6c76c;
    }

    .footer .col-10,
    .col-2 {
        display: flex;
        padding: 3vh 0 0;
        align-items: center;
    }

    .footer .row {
        margin: 0;
    }

    #progressbar {
        margin-bottom: 3vh;
        overflow: hidden;
        color: #a6c76c;
        padding-left: 0px;
        margin-top: 3vh
    }

    #progressbar li {
        list-style-type: none;
        font-size: small;
        width: 25%;
        float: left;
        position: relative;
        font-weight: 400;
        color: rgb(160, 159, 159);
    }

    #progressbar #step1:before {
        content: "";
        color: #ffffff;
        width: 5px;
        height: 5px;
        margin-left: 0px !important;
    }

    #progressbar #step2:before {
        content: "";
        color: #fff;
        width: 5px;
        height: 5px;
        margin-left: 60%;
    }

    #progressbar #step3:before {
        content: "";
        color: #fff;
        width: 5px;
        height: 5px;
        margin-right: 32%;
        /* padding-right: 11px !important */
    }

    #progressbar #step4:before {
        content: "";
        color: #fff;
        width: 5px;
        height: 5px;
        margin-right: 0px !important;
        /* padding-right: 11px !important */
    }

    #progressbar li:before {
        line-height: 29px;
        display: block;
        font-size: 12px;
        background: rgb(207, 203, 201);
        border-radius: 50%;
        margin: auto;
        z-index: -1;
        margin-bottom: 1vh;
    }

    #progressbar li:after {
        content: '';
        height: 2px;
        background: #ddd;
        position: absolute;
        left: 0%;
        right: 0%;
        margin-bottom: 2vh;
        top: 1px;
        z-index: 1;
    }

    .progress-track {
        padding: 0 8%;
    }

    #progressbar li:nth-child(2):after {
        margin-right: auto;
    }

    #progressbar li:nth-child(1):after {
        margin: auto;
    }

    #progressbar li:nth-child(3):after {
        float: left;
        width: 68%;
    }

    #progressbar li:nth-child(4):after {
        margin-left: auto;
        width: 132%;
    }

    #progressbar li.active {
        color: #a6c76c;
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #a6c76c;
    }
</style>
<div class="page-wrapper">

    <main class="main">
        <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Track Your Order<span>Orders</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/orders">Orders</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Track Order </li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container-fluid row d-flex justify-content-center">
                <div class="card" style="width: 85vw;height: fit-content; border-top:0rem;    border-bottom:0rem;">
                    <div class="card-header  pt-2 " style="background-color:rgb(44, 44, 44);">
                        <h5 class="text-center  title">Track Order Id : <span class="text-white">{{order._id}}</span>
                        </h5>
                    </div>
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item " style="background-color:rgb(18, 18, 18);">
                            <div class="row mt-3 mb-5">
                                <div class="container">
                                    <div class="tracking">
                                        <div class="title">Tracking Order</div>
                                    </div>
                                    <div class="progress-track">
                                        <ul id="progressbar">
                                            {{#if (checkOrdered order.products.shippingStatus)}}
                                            <li class="step0 active  " id="step1">Ordered</li>
                                            <li class="step0  text-center" id="step2">Shipped</li>
                                            <li class="step0  text-right" id="step3">Delivered</li>
                                            <li class="step0 text-right" id="step4">Return</li>
                                            {{else if (checkShipped order.products.shippingStatus)}}
                                            <li class="step0 active  " id="step1">Ordered</li>
                                            <li class="step0 active text-center" id="step2">Shipped</li>
                                            <li class="step0  text-right" id="step3">Delivered</li>
                                            <li class="step0 text-right" id="step4">Return</li>
                                            {{else if (checkDelivered order.products.shippingStatus)}}
                                            <li class="step0 active  " id="step1">Ordered</li>
                                            <li class="step0 active text-center" id="step2">Shipped</li>
                                            <li class="step0 active text-right" id="step3">Delivered</li>
                                            <li class="step0 text-right" id="step4">Return</li>
                                            {{else if (checkReturned order.products.shippingStatus)}}
                                            <li class="step0 active  " id="step1">Ordered</li>
                                            <li class="step0 active text-center" id="step2">Shipped</li>
                                            <li class="step0 active text-right" id="step3">Delivered</li>
                                            <li class="step0 active text-right" id="step4">Return</li>
                                            {{else}}

                                            <h4 class="text-white text-center title">Repayment Completed</h4>


                                            <li class="step0 active  " id="step1">Ordered</li>
                                            <li class="step0 active text-center" id="step2">Cancelled</li>
                                            <li class="step0 active text-right" id="step4">Refund Completed</li>


                                            {{/if}}
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>

                        <li class="list-group-item " style="background-color:rgb(18, 18, 18);">

                            <div class="container">
                                <div class="title ">Purchase Reciept</div>

                                <div class="info ">
                                    <div class="row">
                                        <div class="col-7">
                                            <span id="heading">Date : </span>
                                            <span id="details">{{order.date}}</span><br>
                                            <span id="heading">Time : </span>
                                            <span id="details">{{order.time}}</span><br>
                                            <span id="heading">Payment Method : </span>
                                            <span id="details">{{order.payment}}</span>
                                        </div>
                                        <div class="col-5 pull-right">
                                            <div class="">
                                                <span id="heading">Status</span><br>
                                                <span style="color: #a6c76c; font-size: 2rem ;"
                                                    id="orderStatus">{{order.products.shippingStatus}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="info ">
                                    <div class="row ">
                                        <div class="col-7">
                                            <span id="heading">Delivery Address</span><br>
                                            <span id="details">
                                                <p style="color: #fffdfd;">Name : {{order.address.fname}}
                                                    {{order.address.lname}}
                                                    <br>
                                                    {{order.address.address}} , {{order.address.city}} ,
                                                    {{order.address.state}}
                                                    <br>
                                                    Pincode : {{order.address.pinCode}}
                                                    <br>
                                                    e-mail : {{order.address.mail}},
                                                    <br> Phone :+91 {{order.address.phone}}
                                                </p>
                                            </span>
                                        </div>
                                        <div class="col-5 ">
                                            <div>
                                                <div class="row">
                                                    <span id="heading">Options</span><br>
                                                </div>

                                                <span class="mr-2" id="details">

                                                    {{#if (checkDeliveredCancelled order.products.shippingStatus) }}

                                                    {{#if (checkDeliveredOrder order.products.shippingStatus)}}
                                                    <button
                                                        onclick="returnOrder('{{order._id}}','{{order.products.productId}}')"
                                                        class="btn btn-outline-dark">
                                                        Request return</button>
                                                      
                                                        {{else}}
                                                          <button
                                                        class="btn btn-outline-dark">
                                                        Buy Again</button>
                                                        
                                                    {{/if}}

                                                    {{else if ( checkReturned order.products.shippingStatus)}}
                                                          <button
                                                        class="btn btn-outline-dark">
                                                        Buy Again</button>

                                                    {{else}}
                                                    <button
                                                        onclick="cancelOrder('{{order._id}}','{{order.products.productId}}')"
                                                        class="btn btn-outline-primary-2" id="cancel{{order._id}}">
                                                        Cancel</button>
                                                    {{/if}}
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="pricing mb-3">

                                    <div class="row">
                                        <div class="col-2 ">
                                            <a href="#" class="">
                                                <img src="/images/product/{{order.products.product.img.[0]}}"
                                                    alt="Product image" style="height: 100% ">
                                            </a>
                                        </div>
                                        <div class="col-9 ml-auto pt-2 ">
                                            <div class="row">
                                                <div class="col-9">
                                                    <span id="name">{{order.products.product.Name}} x
                                                        {{order.products.quantity}}</span>
                                                </div>
                                                <div class="col-3">
                                                    <span id="price">&#8377;{{order.products.total}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-9">
                                                    <span id="name">Shipping</span>
                                                </div>
                                                <div class="col-3">
                                                    <span id="price">Free</span>
                                                </div>
                                            </div>


                                            <div class="row total">
                                                <div class="col-9">Total</div>
                                                <div class="col-3"><big>&#8377;{{order.products.total}}</big></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                            </div>
                        </li>




                    </ul>
                </div>


            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->


<!-- Sign in / Register Modal -->
<div class="modal fade" id="return-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>

                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
                                    aria-controls="signin" aria-selected="true">Return Request</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                aria-labelledby="signin-tab">
                                <form id="returnForm">
                                    <div class="form-group">
                                        <label for="singin-email">Reason for Return (optional)</label>
                                        <textarea class="form-control" name="returnMsg" id="returnMsg"></textarea>
                                    </div><!-- End .form-group -->



                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>Request Return</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>



                                    </div><!-- End .form-footer -->
                                </form>

                            </div><!-- .End .tab-pane -->

                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div>


<!-- Plugins JS File -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/superfish.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function cancelOrder(orderId, proId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You are about to cancel this product!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, cancel it!'
        }).then((result) => {
            if (result.isConfirmed) {
                /*.................................................................AJAX..................................................*/
                $.ajax({
                    url: '/order/cancel',
                    method: "get",
                    data: { orderId, proId },
                    success: (order) => {
                        Swal.fire(
                            'Cancelled!',
                            'The Order has been cancelled .',
                            'success',
                        ),

                            document.getElementById('orderStatus').innerText = "Cancelled";
                        /* document.getElementById("cancel" + orderId).style.display = "none"*/


                    }
                })
                /*.................................................................AJAX..................................................*/
            }
        })

    }
</script>

<script>
    function returnOrder(orderId, proId) {
        $('#return-modal').modal('show')

        $('#returnForm').submit((e) => {
            e.preventDefault()
            let msg = document.getElementById('returnMsg').value
            console.log(msg)
            $.ajax({
                url: '/orders/returnOrder',
                method: 'post',
                data: { orderId, proId, msg },
                success: (response) => {
                    $('#return-modal').modal('hide')
                    console.log(response)
                    Swal.fire({
                        icon: 'success',
                        title: 'Request has been intiated',
                        text: ' The return will be initated when the seller approves the request',
                    })

                    document.getElementById('orderStatus').value = response

                }
            })

        })
    }
</script>